body {
    color: #eeebe8;
    background-color: #e6bb47;
    font-family: "Antic Slab", serif;
    font-weight: bold;
}
.chamada{
    background-color: #ca9c11;
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 30px;
}
h1{
    font-size: 40px;
}